@charset "utf-8";
@import "_mixin";
@import "_variable";

.none-enter-active, .none-leave-active {transition: none;}

.popup-enter-active, .popup-leave-active {transition: opacity .5s;}
.popup-enter, .popup-leave-to {opacity: 0;}

/*.layout-enter-active, .layout-leave-active {transition: transform 3000ms; position: fixed; top: 0; right: 0; left: 0; z-index: 9999;}
.layout-enter, .layout-leave-to {opacity: 0; transform: translateY(150px);}*/